- var poll = polls[indexInCollection]
div.box.projectContainer(data-poll="#{poll.id}")
  div.wrapper
    div.poll
      h2 #{poll.name}
      dl.FLC
        - each project in projects
          dt(data-id="#{project.id}").ellipsis #{project.name}
          dd(data-id="#{project.id}")
            div.bar(style="width: 5px")
    div.footer