div.ProjectContainer
  div.box
    a(href="#{projects[indexInCollection].url}")
      img(src="#{projects[indexInCollection].img}")
    h2 #{projects[indexInCollection].name}
    p.description #{projects[indexInCollection].desc}
    div.authors #{projects[indexInCollection].authors.join(', ')}
    button Vote
  div.vote
    div.scroller
      - each poll in polls
        a(href="#", data-id="#{poll.id}").checkbar #{poll.name}
          span.description #{poll.description}
    div.footer
      button Done