div.box.projectContainer
  div.wrapper
    div.slider.FLC
      div.project
        a(href="#{projects[indexInCollection].url}")
          img(src="#{projects[indexInCollection].img}")
        h2 #{projects[indexInCollection].name}
        p.description #{projects[indexInCollection].desc}
        div.authors #{projects[indexInCollection].authors.join(', ')}
        div.footer
          button.voteButton Vote
      div.vote
        h2 #{projects[indexInCollection].name}
        div.scroller
          - each poll in polls
            a(href="#", data-id="#{poll.id}").checkbar #{poll.name}
              span.description #{poll.description}
        div.footer
          button.doneButton Done
