- var project = projects[indexInCollection]
div.box.projectContainer(data-project="#{project.id}")
  div.wrapper
    div.slider.FLC
      div.project
        a(href="#{project.url}")
          img(src="#{project.img}")
        a(href="#{project.url}")
          h2 #{project.name}
        p.description #{project.desc}
        div.authors 
          strong Created By: &nbsp;
          #{project.authors.join(', ')}
        div.footer
          button.voteButton Vote
      div.vote
        h2 #{project.name}
        p
          strong Like me? - Vote for me below.
        div.scroller
          - each poll in polls
            a(href="#", data-id="#{poll.id}").checkbar.bdr5 #{poll.name}
              span.description #{poll.description}
        div.footer
          a(href="#").cancel cancel
          button.doneButton Submit Vote
