div.box.projectContainer
  div.wrapper
    div.slider.FLC
      - var project = projects[indexInCollection]
      div.project(data-project="#{project.id}")
        a(href="#{project.url}")
          img(src="#{project.img}")
        h2 #{project.name}
        p.description #{project.desc}
        div.authors #{project.authors.join(', ')}
        div.footer
          button.voteButton Vote
      div.vote
        h2 #{project.name}
        div.scroller
          - each poll in polls
            a(href="#", data-id="#{poll.id}").checkbar #{poll.name}
              span.description #{poll.description}
        div.footer
          button.doneButton Done
